#q1 {
    display: visible;
    
}

#yes {

   width: 100%;
   height: 100vh;
   margin: 0px;
}
#pic {

   width: 100px;
   height: 100px;
   margin: 0px;
}

#body {
    background-image:  url("../images/starsbackground.jpg");
    border: solid 2px black;
    position: relative;
    z-index: 90;
    
}
/* #pic1 {
    background-image: url("../images/star-wars.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0px;
    z-index: 99
} */

div.row {
    text-align: center;
}

div.container {
    color: rgb(194, 13, 13);

}