#q1 {
    display: visible;
    
}

#yes {
    /*("../images/star-wars.jpg");*/
   width: 100px;
   height: 100px;
   margin: 0px;
   z-index: 99;
}

#body {
    background-color: red;
    
}
/* #pic1 {
    background-image: url("../images/star-wars.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0px;
    z-index: 99
} */